.toolbar-background{
  font-style : italic;
  border-color : rgb(2, 2, 2);
  background : rgb(2, 2, 2);
  background-color : rgb(2, 2, 2);
}

/*.list-stop{
  height : 50px;
}*/

.stop{
  color : blue;
  font-size : 10rem;
}