.toolbar-background{
  border-color : rgb(214, 214, 214);
  background-color : rgb(214, 214, 214); 
}

.list-stop{
  height : 60px;
}

.stop-name{
  font-size : 14px;
}

.arrival-col{
  .arrival-time{
    margin-top: 8px;
    font-size : 14px;
    vertical-align: middle;
    text-align: right;
    color : rgb(214, 214, 214);
  }
}

.mynavbar{
  height: 200px !important;
}

.bar-positive{
  height: 200px !important;
}